APP_NAME=OpsPulseQuintonil API
ENV=development
DEBUG=true
SECRET_KEY=change_this_secret
ACCESS_TOKEN_EXPIRE_MINUTES=480
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/opspulsequintonil
FRONTEND_URL=http://localhost:3000